<a href="https://colab.research.google.com/github/KimporNeav/Machine-Learning/blob/main/Data_Wrangling_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sklearn #marchine learing
import numpy as np #computation
import pandas as pd #data management
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
#1. Load the dataset
dataset = pd.read_csv("https://raw.githubusercontent.com/datasets/covid-19/main/data/worldwide-aggregate.csv")
dataset.head(10)

         Date  Confirmed  Recovered  Deaths  Increase rate
0  2020-01-22        557         30      17            NaN
1  2020-01-23        657         32      18      17.953321
2  2020-01-24        944         39      26      43.683409
3  2020-01-25       1437         42      42      52.224576
4  2020-01-26       2120         56      56      47.529576
5  2020-01-27       2929         65      82      38.160377
6  2020-01-28       5580        108     131      90.508706
7  2020-01-29       6169        127     133      10.555556
8  2020-01-30       8237        145     171      33.522451
9  2020-01-31       9927        225     213      20.517179

In [ ]:
#2. Dimension
dataset.shape

(816, 5)

In [ ]:
#3. Check the variable(Numberical / Categorical)
#Check numerical data
numerical_variable = dataset.columns[dataset.dtypes != 'object']
dataset[numerical_variable].head(5)

   Confirmed  Recovered  Deaths  Increase rate
0        557         30      17            NaN
1        657         32      18      17.953321
2        944         39      26      43.683409
3       1437         42      42      52.224576
4       2120         56      56      47.529576

In [ ]:
#Check categorical data
categorical_variable = dataset.columns[dataset.dtypes == 'object']
dataset[categorical_variable].head(5)

         Date
0  2020-01-22
1  2020-01-23
2  2020-01-24
3  2020-01-25
4  2020-01-26

In [ ]:
#4. Identity the missing value
dataset.isnull()

      Date  Confirmed  Recovered  Deaths  Increase rate
0    False      False      False   False           True
1    False      False      False   False          False
2    False      False      False   False          False
3    False      False      False   False          False
4    False      False      False   False          False
..     ...        ...        ...     ...            ...
811  False      False      False   False          False
812  False      False      False   False          False
813  False      False      False   False          False
814  False      False      False   False          False
815  False      False      False   False          False

[816 rows x 5 columns]

In [ ]:
#numerical_value
dataset[numerical_variable].isnull().head(10)

   Confirmed  Recovered  Deaths  Increase rate
0      False      False   False           True
1      False      False   False          False
2      False      False   False          False
3      False      False   False          False
4      False      False   False          False
5      False      False   False          False
6      False      False   False          False
7      False      False   False          False
8      False      False   False          False
9      False      False   False          False

In [ ]:
#categorical_value
dataset[categorical_variable].isnull().head(10)

    Date
0  False
1  False
2  False
3  False
4  False
5  False
6  False
7  False
8  False
9  False

In [ ]:
#5. Find out the percentage of missing value
dataset.isnull().sum()/len(dataset)

Date             0.000000
Confirmed        0.000000
Recovered        0.000000
Deaths           0.000000
Increase rate    0.001225
dtype: float64

In [ ]:
#6. Replace the missing value
dataset.fillna("No Missing Value")

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
..       ...     ...    ...        ...       ...
115      116  Female    60+        152       152
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163

[120 rows x 5 columns]

In [ ]:
#7. Fill up the missing value with specific variable
dataset['sex'].replace("Male", "Female")

0      Female
1      Female
2      Female
3      Female
4      Female
        ...
115    Female
116    Female
117    Female
118    Female
119    Female
Name: sex, Length: 120, dtype: object

In [ ]:
#8. Create the row and add it with the original dataset
row_insert = pd.Series([121, 'Male', 62, 170, 183], index = ["patient", "sex", "agegrp", "bp_before", "bp_after"])
dataset.append(row_insert, ignore_index=True)

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
..       ...     ...    ...        ...       ...
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163
120      121    Male     62        170       183

[121 rows x 5 columns]

In [ ]:
#9. Call the exact row from the dataset
dataset.iloc[0]
dataset.iloc[1:10]
dataset.iloc[:13]

    patient   sex agegrp  bp_before  bp_after
0         1  Male  30-45        143       153
1         2  Male  30-45        163       170
2         3  Male  30-45        153       168
3         4  Male  30-45        153       142
4         5  Male  30-45        146       141
5         6  Male  30-45        150       147
6         7  Male  30-45        148       133
7         8  Male  30-45        153       141
8         9  Male  30-45        153       131
9        10  Male  30-45        158       125
10       11  Male  30-45        149       164
11       12  Male  30-45        173       159
12       13  Male  30-45        165       135

In [ ]:
#Call the specific value
dataset = dataset.set_index(dataset["sex"])
dataset.loc['Male'].head(5)

      patient   sex agegrp  bp_before  bp_after
sex
Male        1  Male  30-45        143       153
Male        2  Male  30-45        163       170
Male        3  Male  30-45        153       168
Male        4  Male  30-45        153       142
Male        5  Male  30-45        146       141

In [ ]:
#10. Rename the columns
dataset.rename(columns = {'sex' : 'gender'}).head(5)

      patient gender agegrp  bp_before  bp_after
sex
Male        1   Male  30-45        143       153
Male        2   Male  30-45        163       170
Male        3   Male  30-45        153       168
Male        4   Male  30-45        153       142
Male        5   Male  30-45        146       141

In [ ]:
#11. Find the minimum and maximum, sum, count
dataset.min()
dataset.max()
dataset.sum()
dataset.count()

patient      120
sex          120
agegrp       120
bp_before    120
bp_after     120
dtype: int64

In [ ]:
#12. Delete the row and column
# delete the first column
dataset.drop('bp_before', axis = 1).head(5)

      patient   sex agegrp  bp_after
sex
Male        1  Male  30-45       153
Male        2  Male  30-45       170
Male        3  Male  30-45       168
Male        4  Male  30-45       142
Male        5  Male  30-45       141

In [ ]:
dataset.drop(dataset.columns[2], axis = 1) #delete column at index 1

        patient     sex  bp_before  bp_after
sex
Male          1    Male        143       153
Male          2    Male        163       170
Male          3    Male        153       168
Male          4    Male        153       142
Male          5    Male        146       141
...         ...     ...        ...       ...
Female      116  Female        152       152
Female      117  Female        161       152
Female      118  Female        165       174
Female      119  Female        149       151
Female      120  Female        185       163

[120 rows x 4 columns]

In [ ]:
#13. Unique value
dataset['sex'].unique()

array(['Male', 'Female'], dtype=object)